<div class="form-container">
  <h2>{{ title }}</h2>
  <form [formGroup]="wordGameForm" (ngSubmit)="onSubmit()" class="form-group">
    <label for="word">Forrás szó:</label>
    <input
      type="text"
      id="source-word"
      formControlName="sourceWord"
      [ngClass]="isNeedDest ? 'word-chain-input' : ''"
      class="form-control" />
    <ng-container *ngIf="isNeedDest">
      <label for="dest-word">Cél szó:</label>
      <input type="text" id="dest-word" formControlName="destWord" class="form-control word-chain-input" />
    </ng-container>
    <button class="btn btn-primary" type="submit">Keresés</button>
  </form>
</div>
